/* Media Query for tablet(1000px) */
@media (max-width: 1000px) {
  /* Common */
  .inner {
    max-width: 692px;
  }

  .info {
    max-width: 230px;
  }

  .infos--large .info {
    max-width: 288px;
  }

  .info .icon {
    transform: scale(0.8);
    margin: -30px 0 -24px -32px; /* 상 우 하 좌 */
  }

  .info p {
    font-size: 19px;
    line-height: 1.4;
  }

  .info a.link {
    margin-top: 24px;
  }

  /* Whitebox */
  .whitebox {
    padding: 60px 30px;
  }

  .whitebox .icon {
    width: 44px;
  }

  .whitebox h1 {
    font-size: 36px;
  }

  /* Header */
  header .inner {
    padding: 0 10px;
  }

  /* Hero */
  .hero .inner {
    padding-bottom: 80px;
  }

  .hero h1 {
    width: 166px;
    height: 68px;
    transform: translate(448px, 165px);
  }

  .hero .figures {
    height: 584px;
    margin-bottom: 14px;
  }

  .hero figure {
    transform: translate(70px, -24px);
  }

  .hero figure img {
    width: 540px;
  }

  .hero figure figcaption .caption-camera {
    transform: scale(0.8) translate(-9px, 524px);
  }

  .hero figure figcaption .caption-chip {
    transform: scale(0.8) translate(510px, 422px);
  }

  .hero figure figcaption .caption-storage {
    transform: scale(0.8) translate(556px, 556px);
  }

  .hero h2 {
    width: 515px;
    height: 95px;
  }

  /* Section Power */
  .power {
    margin-top: 80px;
  }

  .power .multiple-apps h1 {
    width: 310px;
    height: 180px;
  }

  .power .multiple-apps .figures {
    height: 503px;
  }

  .power .multiple-apps figure {
    transform: translate(71px, 0);
  }

  .power .multiple-apps figure img {
    width: 682px;
  }

  .power .multiple-apps figcaption {
    transform: scale(0.8) translate(532px, -58px);
  }

  .power .arcade {
    margin-top: 0;
  }

  .power .arcade .figures {
    height: 480px;
  }

  .power .arcade figure {
    transform: translate(-182px, -6px);
  }

  .power .arcade figure img {
    width: 676px;
  }

  .power .arcade figcaption {
    transform: scale(0.8) translate(316px, 528px);
  }

  .power .create .figures {
    height: 588px;
  }

  .power .create figure {
    transform: translate(4px, -36px);
  }

  .power .create figure img {
    height: 820px;
  }

  .power .create figcaption {
    transform: scale(0.8) translate(420px, 747px);
  }

  /* Section Display */
  .display {
    margin-top: 180px;
  }

  .display .notes h1 {
    width: 400px;
    height: 240px;
    transform: translate(120px, 0);
  }

  .display .notes .figures {
    height: 530px;
    margin-top: 26px;
  }

  .display .notes figure {
    transform: translate(80px, -10px);
  }

  .display .notes figure img {
    width: 676px;
  }

  .display .notes figcaption {
    transform: scale(0.8) translate(540px, -34px);
  }

  .display .shareplay .figures {
    height: 330px;
  }

  .display .shareplay figure {
    transform: translate(-178px, 0);
  }

  .display .shareplay figure img {
    width: 682px;
  }

  .display .shareplay figcaption {
    transform: scale(0.8) translate(261px, 540px);
  }

  /* Section Camera */

  .camera {
    margin-top: 165px;
  }

  .camera .stage h1 {
    width: 405px;
    height: 270px;
    transform: translate(0, 0);
  }

  .camera .stage .info {
    top: 0;
  }

  .camera .stage .figures {
    height: 500px;
  }

  .camera .stage figure img {
    width: 678px;
  }

  .camera .stage video {
    top: 23px;
    left: 50px;
    transform: scale(0.65);
    transform-origin: 0 0;
  }

  .camera .stage .controller--play,
  .camera .stage .controller--pause {
    transform: translate(276px, -88px) rotate(-3deg);
  }

  .camera .stage figcaption {
    transform: scale(0.8) translate(-136px, 306px);
  }

  .camera .edit .figures {
    height: auto;
  }

  .camera .edit figure {
    transform: translate(40px, 0);
  }

  .camera .edit figure img {
    width: 509px;
  }

  .camera .edit figcaption {
    transform: scale(0.8) translate(27px, 742px);
  }

  /* Section Wireless */
  .wireless {
    margin-top: 140px;
  }

  .wireless .facetime h1 {
    width: 450px;
    height: 200px;
    transform: translate(0, 0);
  }

  .wireless .facetime .figures {
    height: 530px;
  }

  .wireless .facetime figure {
    transform: translate(0, 0);
  }

  .wireless .facetime figure img {
    width: 769px;
  }

  .wireless .facetime figcaption {
    transform: scale(0.8) translate(670px, -60px);
  }

  .wireless .files figure img {
    width: 676px;
  }

  .wireless .files figcaption {
    transform: scale(0.8) translate(43px, 520px);
  }

  /* Section Accessories */

  .accessories {
    margin-top: 120px;
  }

  .accessories .h1 {
    width: 384px;
    height: 243px;
  }

  .accessories .figures {
    height: 700px;
  }

  .accessories figure {
    transform: translate(12px, 0);
  }
  .accessories figure img {
    width: 712px;
  }

  .accessories figcaption .caption-memo {
    transform: scale(0.8) translate(677px, -60px);
  }

  .accessories figcaption .caption-supports {
    transform: scale(0.8) translate(101px, 650px);
  }

  /* Section iPadOS */

  .ipados {
    margin-top: 100px;
  }

  .ipados h1 {
    width: 357px;
    height: 274px;
    margin: 0;
  }

  .ipados .infos {
    margin-top: -98px;
  }

  .ipados .figures {
    height: 520px;
  }

  .ipados .figure-split-view figure {
    transform: translate(-17px, -187px);
  }

  .ipados .figure-split-view figure img {
    width: 441px;
  }

  .ipados .figure-split-view figcaption {
    transform: scale(0.8) translate(30px, -50px);
  }

  .ipados .figure-widgets figure {
    transform: translate(180px, 3px);
  }

  .ipados .figure-widgets figure img {
    width: 441px;
  }

  .ipados .figure-widgets figcaption {
    transform: scale(0.8) translate(152px, 345px);
  }

  .ipados .figure-quick-note figure {
    transform: translate(-346px, 119px);
  }

  .ipados .figure-quick-note figure img {
    width: 333px;
  }

  .ipados .figure-quick-notefigcaption {
    transform: scale(0.8) translate(350px, 310px);
  }

  /* Section Apps */

  .apps {
    margin-top: 120px;
  }

  .apps h1 {
    width: 390px;
    height: 208px;
    transform: none;
  }

  .apps .infos {
    margin-left: 0;
  }

  .apps .info {
    max-width: 404px;
  }

  .apps .figures {
    height: 450px;
  }

  .apps .figure-masterclass figure {
    transform: translate(438px, -264px);
  }

  .apps .figure-masterclass figure img {
    width: 330px;
  }

  .apps .figure-masterclass figcaption {
    transform: scale(0.8) translate(6px, 480px);
  }

  .apps .figure-adobe figure {
    transform: translate(-230px, 20px);
  }

  .apps .figure-adobe figure img {
    width: 438px;
  }

  .apps .figure-adobe figcaption {
    transform: scale(0.8) translate(324px, 355px);
  }

  .apps .figure-fantasian figure {
    transform: translate(-40px, 160px);
  }

  .apps .figure-fantasian figure img {
    width: 438px;
  }

  .apps .figure-fantasian figcaption {
    transform: scale(0.8) translate(14px, 339px);
  }

  .apps .figure-books figure {
    transform: translate(43px, -94px);
  }

  .apps .figure-books figure img {
    width: 330px;
  }

  .apps .figure-books figcaption {
    transform: scale(0.8) translate(253px, 493px);
  }

  .apps .figure-goodnotes figure {
    transform: translate(3px, 28px);
  }

  .apps .figure-goodnotes figure img {
    width: 346px;
  }

  .apps .figure-goodnotes figcaption {
    transform: scale(0.8) translate(5px, 483px);
  }

  /* Section Privacy */
  .privacy {
    margin-top: 120px;
  }
  .privacy h1 {
    width: 368px;
    height: 182px;
    transform: translate(70px, 0);
  }

  .privacy .infos {
    margin-top: 24px;
  }

  .privacy figure {
    transform: translate(-18px, -440px);
  }

  .privacy figure img {
    width: 441px;
  }

  .privacy figcaption .caption-apple-id {
    transform: scale(0.8) translate(-22px, -18px);
  }

  .privacy figcaption .caption-touch-id {
    transform: scale(0.8) translate(293px, 339px);
  }

  /* Section Accessibility */
  .accessibility {
    margin-top: 86px;
    margin-bottom: 120px;
  }

  .accessibility h1 {
    width: 287px;
    height: 205px;
  }

  .accessibility .info {
    max-width: 346px;
  }

  .accessibility figure {
    transform: translate(401px, -504px);
  }

  .accessibility figure img {
    width: 329px;
  }

  /* AR */
  .ar .image {
    width: 258px;
  }

  /* Environment */
  .environment p br {
    display: none;
  }

  /* Accessory Shop */
  .accessory-shop img {
    width: 960px;
  }

  /* Trade */
  .trade p br {
    display: none;
  }

  /* Compare */
  .compare .items {
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 68px auto 34px;
  }

  /* Footer*/
  footer .inner {
    max-width: none;
  }

  footer .legal {
    flex-direction: column;
    padding: 10px 0 30px;
    gap: 10px;
  }

  footer .legal .locale {
    margin-top: 14px;
  }
}
